.comics {
  background-color: $black;
  position: relative;
  padding-top: 2rem;

  .current-series {
    background-color: $primary-color;
    color: $white;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    position: absolute;
    top: -20px;
  }

  .comics-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .comic-card {
      width: 200px;
      margin: 2rem 0;

      .img-wrapper {
        width: 200px;
        height: 200px;
        overflow: hidden;
      }
      
      .comic-title {
        color: $white;
        text-transform: uppercase;
        margin-top: 1.5rem;
      }
    }
  }
}

